.Weather {
  border: 1px solid black;
  border-radius: 10px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Courier New", Courier, monospace;
  color: gray;
  padding: 16px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .typingspace {
  border: 1px solid black;
}

.Weather .btn {
  background-color: #e9e0ff;
  color: grey;
  border: 1px solid black;
}

.Weather .btn:hover {
  color: #b396fe;
  background-color: white;
  border: 1px solid black;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin: 20px 0 0 0;
  color: #b396fe;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
  list-style: none;
}

.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
}

.Weather .temperature {
  font-size: 64px;
  font-weight: 400;
  color: black;
  line-height: 64px;
}

.Weather .unit {
  font-size: 16px;
  color: black;
  font-weight: 400;
  position: relative;
  top: -34px;
  margin-left: 3px;
  line-height: 1;
}
